<html><head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
ViewClienteDetalhes</title></head><body bgcolor=#ffffff text=#000000vlink=#330000 alink=#330044 link=#0000aa>
<h2>ViewClienteDetalhes</h2>
<p><a href="../Diagrama de Classes.html">Diagrama de Classes</a></p><p></p><table width=100% cellspacing=0 cellpadding=0>
<tr><td width=32%></td><td width=12></td><td width=32% valign=bottom>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
view. <a href=../view/uml-ViewClienteDetalhes.RadioButtonListener.html>ViewClienteDetalhes.RadioButtonListener</a>
</td></tr></table></td></tr>
</table>
</td><td width=12></td><td width=32%></td></tr><tr><td width=32%></td><td width=12>
</td><td width=32% align=center valign=middle>
<img src=../images/inner.gif>
</td><td width=12></td><td width=32%></td></tr>
<tr><td width=32% valign=top>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
javax.swing. <a href=../javax/swing/uml-JFrame.html>JFrame</a>
</td></tr></table></td></tr>
</table>
</td><td width=12 align=center valign=top>
<img src=../images/ext.gif>
</td><td width=32% valign=top align=center>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
view. <a href=../view/ViewClienteDetalhes.html>ViewClienteDetalhes</a>
</td></tr><tr><td>
-<a href=../view/ViewClienteDetalhes.html#txtEmail>txtEmail</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewClienteDetalhes.html#rdbtnPessoaJurdics>rdbtnPessoaJurdics</a> :<a href=../javax/swing/uml-JRadioButton.html>JRadioButton</a><br>
-<a href=../view/ViewClienteDetalhes.html#contentPane>contentPane</a> :<a href=../javax/swing/uml-JPanel.html>JPanel</a><br>
-<a href=../view/ViewClienteDetalhes.html#handler>handler</a> :<a href=../view/uml-ViewClienteDetalhes.RadioButtonListener.html>ViewClienteDetalhes.RadioButtonListener</a><br>
-<a href=../view/ViewClienteDetalhes.html#rdbtnPessoaFsica>rdbtnPessoaFsica</a> :<a href=../javax/swing/uml-JRadioButton.html>JRadioButton</a><br>
-<a href=../view/ViewClienteDetalhes.html#txtValorLocado>txtValorLocado</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewClienteDetalhes.html#txtNome>txtNome</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewClienteDetalhes.html#txtCPF_CNPJ>txtCPF_CNPJ</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewClienteDetalhes.html#txtEndereco>txtEndereco</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewClienteDetalhes.html#groupTipoCliente>groupTipoCliente</a> :<a href=../javax/swing/uml-ButtonGroup.html>ButtonGroup</a><br>
-<a href=../view/ViewClienteDetalhes.html#txtRazaoSocial>txtRazaoSocial</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewClienteDetalhes.html#txtTelefone>txtTelefone</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewClienteDetalhes.html#lblCpf_CNPJ>lblCpf_CNPJ</a> :<a href=../javax/swing/uml-JLabel.html>JLabel</a><br>
-<a href=../view/ViewClienteDetalhes.html#lblNome>lblNome</a> :<a href=../javax/swing/uml-JLabel.html>JLabel</a><br>
-<a href=../view/ViewClienteDetalhes.html#lblRazaoSocial>lblRazaoSocial</a> :<a href=../javax/swing/uml-JLabel.html>JLabel</a><br>
<u>-<a href=../view/ViewClienteDetalhes.html#serialVersionUID>serialVersionUID</a> :long</u><br>
-<a href=../view/ViewClienteDetalhes.html#cliente>cliente</a> :<a href=../model/uml-Cliente.html>Cliente</a><br>
</td></tr><tr><td>
+<a href=../view/ViewClienteDetalhes.html#ViewClienteDetalhes(model.Cliente)>ViewClienteDetalhes</a>(<a href=../model/uml-Cliente.html>Cliente</a> cliente)<br>
+<a href=../view/ViewClienteDetalhes.html#prencherDadosFormulario()>prencherDadosFormulario</a>() :void<br>
+<a href=../view/ViewClienteDetalhes.html#salvarInformacoes()>salvarInformacoes</a>() :void<br>
-<a href=../view/ViewClienteDetalhes.html#validarCampos()>validarCampos</a>() :boolean<br>
+<a href=../view/ViewClienteDetalhes.html#initComponents()>initComponents</a>() :void<br>
</td></tr></table></td></tr>
</table>
</td><td width=12 align=center valign=top>
</td>
<td width=32% valign=top>
</td></tr>
</table></body></html>
