<html><head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
ViewFuncionarioDetalhes</title></head><body bgcolor=#ffffff text=#000000vlink=#330000 alink=#330044 link=#0000aa>
<h2>ViewFuncionarioDetalhes</h2>
<p><a href="../Diagrama de Classes.html">Diagrama de Classes</a></p><p></p><table width=100% cellspacing=0 cellpadding=0>
<tr><td width=32% valign=top>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
javax.swing. <a href=../javax/swing/uml-JFrame.html>JFrame</a>
</td></tr></table></td></tr>
</table>
</td><td width=12 align=center valign=top>
<img src=../images/ext.gif>
</td><td width=32% valign=top align=center>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
view. <a href=../view/ViewFuncionarioDetalhes.html>ViewFuncionarioDetalhes</a>
</td></tr><tr><td>
-<a href=../view/ViewFuncionarioDetalhes.html#txtEmail>txtEmail</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewFuncionarioDetalhes.html#txtSalario>txtSalario</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewFuncionarioDetalhes.html#txtNome>txtNome</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewFuncionarioDetalhes.html#txtTelefone>txtTelefone</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewFuncionarioDetalhes.html#txtEndereco>txtEndereco</a> :<a href=../javax/swing/uml-JTextField.html>JTextField</a><br>
-<a href=../view/ViewFuncionarioDetalhes.html#contentPane>contentPane</a> :<a href=../javax/swing/uml-JPanel.html>JPanel</a><br>
-<a href=../view/ViewFuncionarioDetalhes.html#comboCargo>comboCargo</a> :<a href=../javax/swing/uml-JComboBox.html>JComboBox</a>&lt;Cargo&gt;<br>
<u>-<a href=../view/ViewFuncionarioDetalhes.html#serialVersionUID>serialVersionUID</a> :long</u><br>
-<a href=../view/ViewFuncionarioDetalhes.html#funcionario>funcionario</a> :<a href=../model/uml-Funcionario.html>Funcionario</a><br>
</td></tr><tr><td>
+<a href=../view/ViewFuncionarioDetalhes.html#ViewFuncionarioDetalhes(model.Funcionario)>ViewFuncionarioDetalhes</a>(<a href=../model/uml-Funcionario.html>Funcionario</a> funcionario)<br>
+<a href=../view/ViewFuncionarioDetalhes.html#prencherDadosFormulario()>prencherDadosFormulario</a>() :void<br>
+<a href=../view/ViewFuncionarioDetalhes.html#salvarInformacoes()>salvarInformacoes</a>() :void<br>
-<a href=../view/ViewFuncionarioDetalhes.html#validarCampos()>validarCampos</a>() :boolean<br>
+<a href=../view/ViewFuncionarioDetalhes.html#initComponents()>initComponents</a>() :void<br>
</td></tr></table></td></tr>
</table>
</td><td width=12 align=center valign=top>
</td>
<td width=32% valign=top>
</td></tr>
</table></body></html>
