<html><head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
ViewFuncionarios</title></head><body bgcolor=#ffffff text=#000000vlink=#330000 alink=#330044 link=#0000aa>
<h2>ViewFuncionarios</h2>
<p><a href="../Diagrama de Classes.html">Diagrama de Classes</a></p><p></p><table width=100% cellspacing=0 cellpadding=0>
<tr><td width=32% valign=top>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
javax.swing. <a href=../javax/swing/uml-JFrame.html>JFrame</a>
</td></tr></table></td></tr>
</table>
</td><td width=12 align=center valign=top>
<img src=../images/ext.gif>
</td><td width=32% valign=top align=center>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
view. <a href=../view/ViewFuncionarios.html>ViewFuncionarios</a>
</td></tr><tr><td>
-<a href=../view/ViewFuncionarios.html#table>table</a> :<a href=../javax/swing/uml-JTable.html>JTable</a><br>
<u>-<a href=../view/ViewFuncionarios.html#serialVersionUID>serialVersionUID</a> :long</u><br>
-<a href=../view/ViewFuncionarios.html#funcionarios>funcionarios</a> :<a href=../java/util/uml-Map.html>Map</a>&lt;Integer,Funcionario&gt;<br>
</td></tr><tr><td>
+<a href=../view/ViewFuncionarios.html#ViewFuncionarios()>ViewFuncionarios</a>()<br>
+<a href=../view/ViewFuncionarios.html#prencherDadosTabela()>prencherDadosTabela</a>() :void<br>
-<a href=../view/ViewFuncionarios.html#removerFuncionarioSelecionado(model.Funcionario)>removerFuncionarioSelecionado</a>(<a href=../model/uml-Funcionario.html>Funcionario</a> f) :void<br>
+<a href=../view/ViewFuncionarios.html#openViewFuncionarioDetalhes(model.Funcionario)>openViewFuncionarioDetalhes</a>(<a href=../model/uml-Funcionario.html>Funcionario</a> f) :void<br>
+<a href=../view/ViewFuncionarios.html#getFuncionarioSelecionado()>getFuncionarioSelecionado</a>() :<a href=../model/uml-Funcionario.html>Funcionario</a><br>
+<a href=../view/ViewFuncionarios.html#initComponents()>initComponents</a>() :void<br>
</td></tr></table></td></tr>
</table>
</td><td width=12 align=center valign=top>
</td>
<td width=32% valign=top>
</td></tr>
</table></body></html>
