<html><head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
ViewClientes</title></head><body bgcolor=#ffffff text=#000000vlink=#330000 alink=#330044 link=#0000aa>
<h2>ViewClientes</h2>
<p><a href="../Diagrama de Classes.html">Diagrama de Classes</a></p><p></p><table width=100% cellspacing=0 cellpadding=0>
<tr><td width=32% valign=top>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
javax.swing. <a href=../javax/swing/uml-JFrame.html>JFrame</a>
</td></tr></table></td></tr>
</table>
</td><td width=12 align=center valign=top>
<img src=../images/ext.gif>
</td><td width=32% valign=top align=center>
<table border=0 width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=#7dfff1><table border cellspacing=0 cellpadding=0 width=100%><tr><td>
view. <a href=../view/ViewClientes.html>ViewClientes</a>
</td></tr><tr><td>
-<a href=../view/ViewClientes.html#table>table</a> :<a href=../javax/swing/uml-JTable.html>JTable</a><br>
<u>-<a href=../view/ViewClientes.html#serialVersionUID>serialVersionUID</a> :long</u><br>
-<a href=../view/ViewClientes.html#clientes>clientes</a> :<a href=../java/util/uml-List.html>List</a>&lt;Cliente&gt;<br>
</td></tr><tr><td>
+<a href=../view/ViewClientes.html#ViewClientes()>ViewClientes</a>()<br>
+<a href=../view/ViewClientes.html#prencherDadosTabela()>prencherDadosTabela</a>() :void<br>
-<a href=../view/ViewClientes.html#removerClienteSelecionado(model.Cliente)>removerClienteSelecionado</a>(<a href=../model/uml-Cliente.html>Cliente</a> c) :void<br>
+<a href=../view/ViewClientes.html#openViewClienteDetalhes(model.Cliente)>openViewClienteDetalhes</a>(<a href=../model/uml-Cliente.html>Cliente</a> c) :void<br>
+<a href=../view/ViewClientes.html#getClienteSelecionado()>getClienteSelecionado</a>() :<a href=../model/uml-Cliente.html>Cliente</a><br>
+<a href=../view/ViewClientes.html#initComponents()>initComponents</a>() :void<br>
</td></tr></table></td></tr>
</table>
</td><td width=12 align=center valign=top>
</td>
<td width=32% valign=top>
</td></tr>
</table></body></html>
